@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
    font-family: -apple-system, Montserrat, sans-serif;
    color: #fafafa;
    background: #004a7c;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
}


